<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node&Mongo - 상세페이지</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include("nav.ejs") %>
    <div class="detail-bg">
      <h4><%= post.title %></h4>
      <hr />
      <p><%= post.content %></p>
      <p>
        <%= post.username %>&nbsp;&nbsp;<%=
        post.date.toLocaleDateString('ko-KR') %>
      </p>
      <% if (user.toString() == post.user.toString()) { %>
      <a href="/edit/<%= post._id %>"><button class="btn">수정</button></a>
      <button class="delete btn" data-postid="<%= post._id %>">삭제</button>
      <% } %>
      <hr />
      <div class="comment">
        <form action="/comment" method="POST">
          <input
            class="comment-input"
            name="content"
            type="text"
            placeholder="댓글을 입력하세요"
          />
          <input name="parentId" value="<%= post._id %>" hidden />
          <button class="comment-btn" type="submit">등록</button>
        </form>
        <% for (let i = 0; i < comments.length; i++) { %>
        <div class="comment-box">
          <span class="username"><%= comments[i].username %></span>
          &nbsp;
          <span class="content"><%= comments[i].content %></span>
        </div>
        <% } %>
      </div>
    </div>
    <script>
      // script태그 안의 코드는 브라우저 새로고침할 때마다 실행됨
      document.querySelectorAll(".delete")[0].addEventListener("click", (e) => {
        fetch("/post?postid=" + e.target.dataset.postid, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            console.log(res.text()); // 서버에서 보낸 메시지 콘솔에 출력
            if (res.status == 200) {
              return res.json();
            } else {
              console.log("서버에서 에러코드 전송함");
            }
          })
          .then((res) => {
            console.log("success");
            // e.target.parentElement.parentElement.style.display = "none";
          })
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
