<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AppleForum - 게시판</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include("nav.ejs") %>
    <h3 class="header-text">게시판(<%= postNum %>)</h3>
    <div class="white-bg">
      <% for (let i = 0; i < posts.length; i++) { %>
      <a href="/detail/<%= posts[i]._id %>">
        <div class="list-box">
          <h4><%= posts[i].title %></h4>
          <p><%= posts[i].content %></p>
        </div>
      </a>
      <% } %>
    </div>
    <div class="search-box">
      <input class="search-input" type="text" value="<%= search %>" />
      <button class="search-btn">검색</button>
      <script>
        document.querySelector(".search-btn").addEventListener("click", () => {
          let value = document.querySelector(".search-input").value;
          location.href = "/search?val=" + value; // "/search"로 페이지 이동 (GET요청)
        });
      </script>
    </div>
    <div class="page-bar">
      <div class="btn-group">
        <a class="page-btn" href="/list/1?val=<%= search %>"><<</a>
        <a
          class="page-btn"
          href="/list/<%- parseInt(index) - 1 %>?val=<%= search %>"
          ><</a
        >
      </div>
      <% for (let i = parseInt(index) - 2; i < parseInt(index) + 3; i++) { %>
      <div class="index-box">
        <% if (0 < i && i < Math.ceil(postNum / 6) + 1) { %> <% if (i ==
        parseInt(index)) { %>
        <a class="index-text bold" href="/list/<%= i %>?val=<%= search %>"
          ><%= i %></a
        >
        <% } else { %>
        <a class="index-text" href="/list/<%= i %>?val=<%= search %>"
          ><%= i %></a
        >
        <% } %> <% } %>
      </div>
      <% } %>
      <div class="btn-group">
        <a
          class="page-btn"
          href="/list/<%- parseInt(index) + 1 %>?val=<%= search %>"
          >></a
        >
        <a
          class="page-btn"
          href="/list/<%- Math.ceil(postNum / 6) %>?val=<%= search %>"
          >>></a
        >
      </div>
    </div>
  </body>
</html>
